<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStart"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="loader"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="E:\java\Projects\Hanabi-Beta-master\loader\run"/><stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfml.coreMods.load=cn.hanabi.loader.injection.LoaderPlugin -DFORGE_FORCE_FRAME_RECALC=true"/></launchConfiguration>